doctype html
html(lang="en")
  head
    title SingForSomeone
    meta(name='viewport', content='width=device-width', initial-scale='1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
  body
    div.row
      div.small-12.columns
        form(name='search')
            div.row
              div.small-12.columns
                label(for='song-search') Search for a Songname or Artist
                input(type='text' name='song' placeholder="'Piano Man' or 'Billy Joel'" id='song-search' class='form-control')
            div.row
              div.small-12.columns
                button(type='submit').button.small Request Lyrics
                a(href='/search/advanced' alt='advanced search').button.small Advanced Search
    div.row.offset
      div.small-12.large-3.columns
        img.img-responsive.center-block.album-img
        audio(id='player', src='')
          p. Your browser does not support the Spotify preview audio element.
        form(name='volume')
          button.button.play-pause Play/Pause Preview
          input(id='volume', type='range', value='25', min='0', max='100', step='1')
          label(for='volume') Volume
      div.small-12.large-9.columns
          p.lyrics
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/global.js')
    script(src='/js/audioplayer.js')
    script(src='/js/jquery.autocomplete.js')
